*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.content {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    width: 1140px;
}

.result__video-container {
    width: 711px;
    height: 386px;
    margin-bottom: 16px;
    margin-top: 78px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.search-form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 5px;
    cursor: pointer;
}

.search-form__textfield {
    border: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    appearance: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    font-family: Fira Sans Condensed, sans-serif;
    letter-spacing: 0;
    width: 225px;
    line-height: 18px;
}

.search-form__textfield::placeholder {
    color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #ffffff;
}

.search-form__checkbox-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    height: 19px;
    width: 19px;
    border: 1px solid #ffffff;
    padding: 1px;
    
}

.search-form__pseudo-checkbox::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__textfield:hover {
    text-decoration: none;
}

.button {
    font-family: Fira Sans Condensed, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0%;
    border: 1px solid #ffffff;
    background-color: transparent;
    height: 34px;
    cursor: pointer;
}

.search-form__submit-button {
    width: 194px;
    align-self: flex-end;
}

.more-button {
    width: 390px;
    padding: 10px;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #ffffff;
}

.content__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 26px;
}

.title {
    font-family: Oswald;
    font-weight: 700;
    font-size: 75px;
    line-height: 94%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #ffffff;
}

.content__accent {
    color: #545050;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content__video-card-title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content__video-card-description {
    font-family: Fira Sans Condensed, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    text-transform: none;
    color: #ffffff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content__card-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    cursor: pointer;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:hover {
    text-decoration: underline;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #ffffff;
}

.content__list-container {
    display: flex;
    flex-direction: column;
    height: 298px;
    overflow: auto;
    gap: 30px;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-item {
    padding-right: 3px;
}

.content__video-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content__video-card-thumbnail {
    height: 103px;
    min-width: 194px;
    object-fit: cover;
    object-position: right;
}


.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.result__video-container,
.content__list-container {
    position: relative;
}
